@import './lib/iconfont/iconfont.css';

/* @formatter:off */
$headerSize: 60px;                    //定义头部的高度
$menuSize: 275px;                     //定义菜单的宽度
$operatorSize: 275px;                 //定义右侧编辑详情操作栏的宽度

$ibc: #dcdfe6;                      //边框颜色
$ibl: #ebeef5;                      //边框颜色轻
$itc: #314659;                      //字体颜色
$icc: rgba(0, 0, 0, 0.45);          //图标颜色
$boxShadowColor: #f0f1f2;           //阴影颜色

$primary: #ee0f7f;                  //主色调

/* @formatter: on */
.visual-editor {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;

  &:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, 0.1);
    content: "";
  }

  & > .visual-editor-menu {
    position: absolute;
    width: $menuSize;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(133, 126, 126);
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;

    &:after{
      height: 0;
      min-width: 113px;
      content: "";
    }

    .visual-editor-menu-item {
      position: relative;
      width: calc(100% - 160px);
      height: 70px;
      border: dashed 1px $ibl;
      margin-top: 20px;
      min-height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 20px;
      box-sizing: border-box;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        z-index: 2;
      }
      &:hover {
        border-color: $primary;
        cursor: move;
      }
    }
    .visual-editor-menu-item-label {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: $primary;
      color: white;
      padding: 4px 8px;
      font-size: 12px;
      z-index: 1;
    }
    // .visual-editor-item-content {
    //   display: flex;
    // }
  }
  & > .visual-editor-head {
    position: absolute;
    left: $menuSize;
    right: $operatorSize;
    top: 0;
    height: $headerSize;
    background-color: rgb(170, 158, 158);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    z-index: 2;

      .visual-editor-head-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(black, 0.3);
        color: white;
        height: 60px;
        width: 60px;
        cursor: pointer;
        transition: all 300ms linear;
        
        & + .visual-editor-head-button {
          margin-left: 1px;
        }

        & :first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        & :last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        & :hover {
          background-color: white;
          color: $primary;
        }

        i {
          font-size: 20px;
        }

        span {
          font-size: 12px;
        }
      }
  }
  & > .visual-editor-operator {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: $operatorSize;
    z-index: 2;
  }
  & > .visual-editor-work {
    padding-top: $headerSize;
    padding-left: $menuSize;
    padding-right: $operatorSize;
    background-color: #f1e7e7;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    z-index: 1;
    & > .visual-editor-content {
      width: 100%;
      height: 100%;
      overflow: auto;
      display: flex;
      justify-content: center;

      & > .visual-editor-container {
        background: white;
        flex-shrink: 0;
        flex-grow: 0;
        position: relative;

        .visual-editor-block {
          position: absolute;
          &:after {
            $space: 3px;
            position: absolute;
            top: -$space;
            bottom: -$space;
            left: -$space;
            right: -$space;
            content: '';
          }
          &.visual-editor-block-focus {
            &:after {
              border: dashed 1px $primary;
            }
          }
        }
      }
    }
  }
}
